.container{
    background-color: #6f9ff3;
    color: #861ade;
    font-size: 19px;
    width: 1000px;
    height: 450px;
    padding: 20px;
}
body{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f5f5f5;
}