:host {
    --primary-color: #0176d3;
    --secondary-color: #f4f6f9;
    --border-radius: 4px;
}
.main-div {
    background : maroon;
    color: white;
    padding: 5px;
    font-family: cursive;
    font-size: large;
    border: 10px solid maroon;
    border-radius: 10px;
    margin: 2px;
}

.heading {
    font-size: 20px;
    color: darkturquoise;
}